@import url(../../index.css);

.why{
    display: flex;
    margin-bottom: 20%;
}
.why__right{
    display: flex;
    /*might wanna delete this*/
    position: absolute;
    right: 0;
}
.why__right > .left{
    display: grid;
    justify-items: end;
}
.left > .wide-black-box{
    margin-top: -15px;
}
.right > .small-black-box{
    margin: 10px;
}
.right > .last__box{
    margin-top: 100px;
}
.why__body{
    margin-left: 8vw;
    max-width: 40vw;
    margin-right: 5vw;
}
.left__img{
    height: 22rem !important;
}