@import url(/Users/amritesh/Downloads/Coding/react/react-trainee/src/index.css);

.what{
    display: flex;
}
.what__left{
    width: 60vw;
}
.upper__left{
    display: flex;
    margin-right: 5vw;
}
.what__left .boxes{
    display: grid;
    align-items: end;
    justify-items: end;
}
.what__image{
    display: flex;
}
.what__leftbox{
    float: right;
}
.small-black-box{
    margin: 5px;
}
.image-left img{
    height: 25rem !important;
    width: auto;
    /* max-width: 100% !important;
    height: auto; */
}
.top__right img{
    /* height: 15rem !important;
    width: auto; */
    max-width: 100% !important;
    height: auto;
}
.what__rightimg > img{
    /* height: 17rem !important;
    width: auto; */
    max-width: 100% !important;
    height: auto;
}
.top__right{
    display: flex;
}
.right__small__box{
    display: grid;
    align-items: end;
}
.what__left > .wide-black-box{
    float: right;
    margin-top: 10px;
}
.what__content{
    width: 40vw;
    margin-right: 12vw;
    margin-top: 15vh;
    margin-left: 4vw;
}