@import url(../../index.css);

.about{
    display: flex;
}
.about--para{
    margin-left: 8vw;
    width: 30vw;
    margin-right: 5vw;
    /* added */
    justify-content: center;
    margin: 0 3vw 0 auto;
}
.about--block{
    display: grid;
    align-items: end;
}
.img__upperlower{
    width: 20.75rem;
    height: 16.875rem;
    margin: .625rem;
    object-fit: fill;
    border-radius: 15px;
}
.img__right{
    width: 16.375rem;
    height: 20.938rem;
    margin: .625rem;
    object-fit: fill;
    border-radius: 15px;
}
.about--images{
    /* added */
    margin: 0 auto;
    display: flex;
    /* position: absolute;
    right: 10rem; */
}
.logos i{
    font-size: 3rem;
    /* font-size: calc(1.8vw + 1.8vh); */
    background-color: var(--body-color);
    padding: 25px 20px;
    border-radius: 10px;
    color: var(--main-color);
    margin: 10px;
}
.logos{
    display: flex;
}
/* .logos__logo{
    margin: 5px;
} */
@media screen and (min-width: 1384px) {
    .logos i{
        font-size: 3.6rem;
    }
}

@media screen and (min-width: 1850px) {
    .logos i{
        font-size: 4.5rem;
        padding: 35px 30px;
    }
    .img__upperlower{
        width: 24.75rem;
        height: 20.875rem;
    }
    .img__right{
        width: 20.375rem;
        height: 24.938rem;
    }
}