
.footer{
    display:flex;
    width:100%;
    background-color: #ffca60;
    padding:5rem 0px 5rem 10rem;
}

.main-button{
    margin-right:3rem;
}

.button-content button{
    display:flex;
    flex-flow:column;
    align-items:center;
    width:7.5rem;
    height:23rem;
    justify-content:space-between;
    background-color: #222629;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.938rem;
}

.button-content button img{
    margin:2rem;
    width:4.688rem;
    height:auto;
}

.button-content button p{
    font-family: OCRAExtended;
    font-size: 1.825rem;
    padding-bottom:1rem;
    padding-right:1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -0.094rem;
    text-align: left;
    color: #ffca60;
}

.footer-comp1{
    display:flex;
}

.footer-about{
    display:flex;
    flex-flow:column;
    width:24rem;
    margin-right:5rem;
}

.footer-about .about-title{
    margin-bottom:1rem;
    font-size: 3.125rem;
    font-family: OCRAExtended;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -0.313rem;
    color: #2b2f32;
}
.footer-about .about-content{
    font-size: 1.688rem;
    text-align: left;
    font-family: ISOCPEUR;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #222629;
}

.footer-comp2{
    display:flex;
    flex-flow:row;
}
.footer-nav{
    display:flex;
    flex-flow:column;
    margin-right:10rem;
}

.footer-nav .nav-title{
    margin-bottom:1rem;
    font-size: 3.125rem;
    font-family: OCRAExtended;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -0.313rem;
    color: #2b2f32;
}

.footer-nav p{
    margin-bottom:0.4rem;
    font-size: 1.688rem;
    font-family: ISOCPEUR;
    color: #222629;
}

.footer-comp3 .connect-title{
    margin-bottom:1rem;
    font-size: 3.125rem;
    font-family: OCRAExtended;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -0.313rem;
    color: #2b2f32;
}

.footer-comp3 .connect-content{
    margin-bottom:1rem;
    font-size: 1.688rem;
    font-family: ISOCPEUR;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #222629;
}

.footer-comp3 .social-icons{
    display:flex;
    font-size: large;
}
.footer-comp3 .social-icons a :only-child{
    font-size: 4.688rem;
    margin-right: 1.5rem;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
    .button-content button{
        height:40rem;
    }
    .footer-comp1{
        flex-wrap:wrap;
    }
    .footer-comp1 .footer-about{
        width:80%;
        margin-bottom:7rem;
        margin-right:2rem;
    }
}
