.grid-item {
  background-color: var(--grey);
  border-radius: 5%;
}

.grid-item:nth-child(2n) {
  width: 3rem;
  height: 6rem;
}

.grid-item:nth-child(2n + 1) {
  width: 6rem;
  height: 3em;
}

@media (min-width: 650px) {
  .grid-item:nth-child(2n) {
    width: 6rem;
    height: 12rem;
  }
  .grid-item:nth-child(2n + 1) {
    width: 12rem;
    height: 6rem;
  }
}
