.grid-item {
  background-color: var(--grey);
  border-radius: 5%;
}

.grid-item:nth-child(2n) {
  width: 2rem;
  height: 4rem;
}

.grid-item:nth-child(2n + 1) {
  width: 4rem;
  height: 2em;
}

@media (min-width: 650px) {
  .grid-item:nth-child(2n) {
    width: 4rem;
    height: 8rem;
  }
  .grid-item:nth-child(2n + 1) {
    width: 8rem;
    height: 4rem;
  }
}
