.heading-container {
  font-family: "OCRAExtended", "sans-serif";
  width: 90%;
  margin: 0 auto;
}

.heading {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-item {
  font-weight: 700;
  margin: 0.1rem;
  display: inline-block;
  font-size: 3rem;
  background-color: var(--orange);
  color: var(--dark-grey);
  border-radius: 15%;
}

.heading-bottom {
  font-size: 1.5rem;
  text-align: right;
}

@media (min-width: 650px) {
  .heading-item {
    font-size: 8rem;
    margin: 0.8rem;
  }

  .heading-bottom {
    font-size: 3rem;
    margin-right: 2.3em;
  }
}
