@import url(./index.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bodyFont;
    background-color: var(--main-color);
    color: #fff;
    overflow-x: hidden;
}
.element div{
    margin-bottom: 10%;
}